@model IEnumerable<Domain.App.PrivateMessage>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SentAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsSeen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserSender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserReceiver!)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EditedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EditedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SentAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsSeen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserSender!.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserReceiver!.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppUser!.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EditedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EditedAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
