@model IEnumerable<Domain.App.Donatee>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiftName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiftDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiftImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiftUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiftReservedFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActiveFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActiveTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EditedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EditedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiftName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiftDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiftImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiftUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiftReservedFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActiveFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActiveTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActionType.ActionTypeValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.StatusValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EditedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EditedAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
