@model Domain.App.ArchivedGift

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ArchivedGift</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateArchived)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateArchived)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsConfirmed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsConfirmed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActionType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActionType.ActionTypeValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gift)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gift.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status.StatusValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserGiver)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserGiver.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserReceiver)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserReceiver.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppUser.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EditedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EditedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EditedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EditedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
