@model IEnumerable<Domain.ReservedGift>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReservedFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gift)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserGiver)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserReceiver)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EditedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EditedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReservedFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gift.ActionTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActionType.ActionTypeValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.StatusValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserGiver.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserReceiver.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EditedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EditedAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
